* {
    font-family: "JetBrainsMono Nerd Font";
    box-shadow: none;
}

window {
    background: rgba(30, 30, 46, 0.70);
}

button {
    color: #cdd6f4;

    background-color: rgba(49, 50, 68, 0.90);

    border: 2px solid transparent;
    border-radius: 16px;

    margin: 20px;
    padding: 20px;

    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 32%;

    transition: all 0.2s ease;
}

button:hover {
    background-color: rgba(137,180,250,0.20);
    border-color: #89b4fa;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
